<h1 class="title is-1">Welcome to Marin Cricket Club!</h1>
<h3 class="subtitle is-3 has-text-centered">The home of Bay Area cricket</h3>

<% unless logged_in? %>
  <div class="columns buttons are-medium is-justify-content-space-around">
    <div class="column is-4">
      <%= link_to 'Sign Up for Game Newsletter', new_newsletter_path, class: 'button is-link is-fullwidth' %>
    </div>
    <div class="column is-4">
      <%= link_to 'Create An MCC Member Account', signup_path, class: 'button is-success is-fullwidth' %>
    </div>
  </div>
<% end %>
<hr>

<div class="columns is-justify-content-space-around">
  <div class="column is-5">
    <p class="is-size-3 extra-padding">
      Welcome to the 2023 season!
    </p>

    <p>
      We run 2 league teams and a full social cricket schedule, along with a youth development program, here in gorgeous Marin County.
    </p>

    <p>
      We have been playing cricket here in N California since the 1940's, and have a deep 
      tradition both in the local community and in the Northern California Cricket Association.
    </p>

    <p>
      We welcome any new cricketers and their families to the area, and if you're a touring team you have to add us as part 
      of your tour schedule! Recently we've had a Golden Oldies touring side from LA visit, and over the years have welcomed 
      many touring sides from around the world-England (M.C.C(2 tours), Mill Hill), Canada, (Vancouver CC, Meraloma CC), Australia 
      (Queensland CC, Manly Waratahs CC), Hawaii (Honolulu CC), Philadelphia (Gentlemen of Philadelphia CC), LA (Compton CC) Bahamas (Freeport CC).
    </p>

    <p>
      Our season is April through October, and we're finalising our <%= link_to 'Schedules', schedules_path %>
      for all teams so please check back soon! We hope to see you out at Piper Park in Larkspur this season!
    </p>

    <p>
      We look forward to seeing you at the ground!
    </p>

    <p>
      Please <%= link_to 'reach out to us', contact_index_path %> with any questions you may have!
    </p>

    <p class="extra-padding">Best,</p>
    <p class="is-size-5 has-text-weight-semibold negative-margin">
      Nick Lynam
    </p>
    <p class="negative-margin">Marin Cricket Club Chairman</p>
  </div>
  <div class="column is-offset-1 extra-padding">
    <%= video_tag 'sizzle_reel.mp4', controls: true %>
    <figcaption class="has-text-centered">
      Come play some cricket in Marin!
   </figcaption>
  </div>
</div>