<% provide(:title, 'Membership') %>

<h1 class="title is-1">Pay Your Season Membership Dues</h1>

<p class="has-text-centered">
  Membership dues and all game match fees are to be paid via PayPal.
  You will not be selected for any team if you have not paid your dues.
</p>
<hr>
<div class="columns is-vcentered">
  <div class="column is-half">
    <div class="columns is-multiline">
      <div class="column is-full">
        <h3 class="title is-3 has-text-centered">Full Membership</h3>
        <p class="is-size-4 has-text-centered has-text-weight-medium">
          $375 per year
        </p>
        <div class="column has-text-centered">
          <%= render 'static_pages/partials/full_membership' %>
        </div>
      </div>

      <div class="column is-full">
        <h3 class="title is-3 has-text-centered">Viewers Membership</h3>
        <p class="is-size-4 has-text-centered has-text-weight-medium negative-margin">
          $50 per year
        </p>
        <div class="column has-text-centered">
          <%= render 'static_pages/partials/viewer_membership' %>
        </div>
      </div>

      <div class="column is-full">
        <h3 class="title is-3 has-text-centered">Student Membership</h3>
        <p class="is-size-4 has-text-centered has-text-weight-medium negative-margin">
          $200 per year
        </p>
        <p class="has-text-centered">
          Please <%= link_to 'contact us', contact_index_path %> if you believe you qualify.
        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <p>Marin Cricket Club is a not-profit organization and all the executive committee members are volunteers.</p>
    <p>The membership dues keep the club running and pay for:</p>
    <ul>
      <li>- Cricket Balls</li>
      <li>- Ground Rental from the City of Larskpur</li>
      <li>- Water and Ice during games</li>
      <li>- Outfield maintenance</li>
      <li>- Lawn Mower maintenance</li>
      <li>- NCCA dues for league teams</li>
      <li>- 2 Practice Nets maintenance</li>
      <li>- Center Wicket maintenance (replaced every 5 years or so)</li>
      <li>- Other Miscellaneous Costs like accounting, trophies, stumps, bails, fencing etc...</li>
    </ul>
  </div>
</div>

<hr class="negative-margin">

<p class="is-size-5 has-text-centered has-text-weight-medium">
  Download the PayPal app onto your phone for your convenience.
</p>

<div class="columns is-justify-content-space-around extra-padding">
  <div class="column is-3">
    <%= link_to image_tag('app_store.png', alt: 'PayPal App on the Apple App Store'),
                'https://itunes.apple.com/us/app/paypal-mobile-cash/id283646709?mt=8', target: 'blank' %>
  </div>
  <div class="column is-3">
    <%= link_to image_tag('play_store.png', alt: 'PayPal App on the Google Play Store'),
        'https://play.google.com/store/apps/details?id=com.paypal.android.p2pmobile&hl=en_US', target: 'blank' %>
  </div>
</div>
