<% provide(:title, 'Sponsors') %>

<h1 class="title is-1">Our Generous Sponsors</h1>

<hr>
<div class="columns">
  <div class="column is-5">
    <h4 class="has-text-centered title is-3">New York Life</h4>
    <p>
      Marin Cricket Club is ever grateful to to our long time partner
      <%= link_to 'New York Life', 'https://www.newyorklife.com', target: 'blank' %>.
      We greatly appreciate their continued support and sponsorship of the annual
      New York Life T20 Tournament.
    </p>
    <p>
      Please contact insurance expert <%= mail_to 'mbakshi@ft.newyorklife.com', 'Mani Bakshi', target: 'blank' %> directly for any of your insurance needs.
    </p>
    <br>
    <div class="has-text-centered">
      <%= link_to image_tag('nyl_logo.jpg', alt: 'New York Life'), 'https://www.newyorklife.com', target: 'blank' %>
    </div>
  </div>

  <div class="column is-offset-2">
    <h4 class="has-text-centered title is-3">Obvious Ventures</h4>
    <p>
      We are beyond pleased to welcome our newest sponsor
      <%= link_to 'Obvious Ventures', 'https://obvious.com', target: 'blank' %> on board!
    </p>
    <!-- <p>
      Obvious are specialists in providing technology solutions to the Government and Education sectors.
    </p> -->
    <p>
      Please contact
      <%= mail_to 'pr@obvious.com', 'Obvious Ventures', target: 'blank' %>
      directly if you have any questions.
    </p>
    <br>
    <br>
    <br>
    <div class="has-text-centered">
      <%= link_to image_tag('obvious.jpg', alt: 'Obvious Ventures'), 'https://obvious.com', target: 'blank' %>
    </div>
  </div>
</div>

<hr>
<p class="is-size-5">
  Interested in becoming a sponsor? Please <%= link_to 'reach out', contact_index_path %> and let us know!
</p>
