<%= provide(:title, 'Forgot Password') %>

<h1 class="title is-1">Reset Your Password</h1>

<div class="columns is-centered">
  <div class="column is-5">
    <%= form_with scope: :password_reset, url: password_resets_path, local: true do |f| %>
      <div class="field">
        <%= f.label :email, class: 'label' %>
        <%= f.email_field :email, class: 'input',
              type: 'email', placeholder: 'Enter Your Email Address' %>
      </div>
      <div class="field">
        <%= f.submit 'Request Password Reset', class: 'button is-medium is-link is-fullwidth' %>
      </div>
    <% end %>
  </div>
</div>
