<% provide(:title, @user.first_name + ' ' + @user.last_name) %>

<%= render 'users/partials/user_buttons' if @user == current_user %>

<div class="columns is-vcentered">
  <div class="column">
    <h2 class="title is-2">
      <%= @user.first_name %> <%= @user.last_name %>
    </h2>
    <%= render 'shared/user_email' if admin_logged_in? %>
    <p>
      <span class="has-text-weight-semibold">
        Role:
      </span>
      <%= @user.role %>
    </p>
    <p>
      <span class="has-text-weight-semibold">
        Bats:
      </span>
      <%= @user.bats %>
    </p>
    <p>
      <span class="has-text-weight-semibold">
        Bowls:
      </span>
      <%= @user.bowls %>
    </p>
    <p>
      <span class="has-text-weight-semibold">
        About:
      </span>
      <%= @user.profile %>
    </p>
  </div>
</div>
