<%= provide(:title, 'Schedules') %>

<%= render 'schedules/partials/create_button' if admin_logged_in? %>

<h1 class="title is-1">Upcoming Games</h1>

<div class="columns is-vcentered">

  <div class="column">
    <h6 class="title is-5 has-text-centered">
      <%= link_to 'Marin 1 Full Schedule', league_schedules_path %>
    </h6>
    <% if @league.blank? %>
      <%= render 'schedules/partials/bye' %>
    <% else %>
      <%= render 'schedules/partials/upcoming_league' %>
      <br>
      <p class="extra-padding has-text-centered">
        For the Ones, the sign-up window closes Tuesday at 5pm Pacific.
      </p>
    <% end %>
  </div>

  <div class="column">
    <h6 class="title is-5 has-text-centered">
      <%= link_to 'Marin Bears T20 Full Schedule', bears_schedules_path %>
    </h6>
    <% if @bears.blank? %>
      <%= render 'schedules/partials/bye' %>
    <% else %>
      <%= render 'schedules/partials/upcoming_bears' %>
      <p class="extra-padding has-text-centered">
        For the Bears, the sign-up window closes Tuesday at 5pm Pacific.
      </p>
    <% end %>
    <br>
  </div>

  <div class="column">
    <h6 class="title is-5 has-text-centered">
      <%= link_to 'Marin Socials Full Schedule', socials_schedules_path %>
    </h6>
    <% if @socials.blank? %>
      <%= render 'schedules/partials/bye' %>
    <% else %>
      <%= render 'schedules/partials/upcoming_socials' %>
      <br>
      <p class="extra-padding has-text-centered">
        For the Socials, the sign-up window closes Wednesday at 5pm Pacific.
      </p>
    <% end %>
  </div>

</div>
