<%= provide(:title, 'Schedules') %>

<%= render 'schedules/partials/create_button' if admin_logged_in? %>

<h1 class="title is-1">Upcoming Games</h1>

<div class="columns is-vcentered">

  <div class="column">
    <h6 class="title is-5 has-text-centered">
      <%= link_to 'Marin Socials Full Schedule', socials_schedules_path %>
    </h6>
    <% if @socials.blank? %>
      <%= render 'schedules/partials/bye' %>
    <% else %>
      <%= render 'schedules/partials/upcoming_socials' %>
    <% end %>
  </div>

  <div class="column">
    <h6 class="title is-5 has-text-centered">
      <%= link_to 'Marin CC NCCA Full Schedule', league_schedules_path %>
    </h6>
    <% if @league.blank? %>
      <%= render 'schedules/partials/bye' %>
    <% else %>
      <%= render 'schedules/partials/upcoming_league' %>
    <% end %>
  </div>

  <div class="column">
    <h6 class="title is-5 has-text-centered">
      <%= link_to 'Marin Bears T20 Full Schedule', bears_schedules_path %>
    </h6>
    <% if @bears.blank? %>
      <%= render 'schedules/partials/bye' %>
    <% else %>
      <%= render 'schedules/partials/upcoming_bears' %>
    <% end %>
  </div>

</div>
