<% provide(:title, 'Lineup Selection') %>

<%= render 'schedules/partials/admin_buttons' if admin_logged_in? %>

<h2 class="title is-2 has-text-centered">
  <%= @schedule.home_team.name %> (<%= @schedule.home_team.abbreviation %>)
  vs
  <%= @schedule.away_team.name %> (<%= @schedule.away_team.abbreviation %>)
</h2>
<div class="columns has-text-centered jusitfy-space-between is-size-5">
  <div class="column">
    <p class="has-text-centered">
      <span class="has-text-weight-semibold">
        Match Date:
      </span>
      <%= @schedule.date.strftime('%A, %B %d') %>
    </p>
  </div>

  <div class="column">
    <p class="has-text-centered">
      <span class="has-text-weight-semibold">
        Match Location:
      </span>
      <%= @schedule.home_team.home_field %>
    </p>
  </div>
</div>
<hr class="negative-margin">

<h3 class="title is-3 has-text-centered">Total Player Signups: <%= @schedule.selections.count %></h3>
<div class="columns has-text-centered jusitfy-space-between is-size-5 has-text-centered">
  <div class="column">
    <h4 class="title is-5">Paid Signups: <%= @schedule.users.where(paid: true).count %></h4>
  </div>
  <div class="column">
    <h4 class="title is-5">Unpaid Signups: <%= @schedule.users.where(paid: false).count %></h4>
  </div>
</div>

<%= form_for(@schedule) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="table-container">
    <%= render 'schedules/partials/paid_selection' %>
  </div>
  <%= 
    f.submit 'Save Lineup', class: 'button is-medium is-link is-fullwidth', 
    data: { confirm: 'Confirm Your Lineup? This CANNOT be undone.' } 
  %>
<% end %>