<%= render 'schedules/partials/create_button' if admin_logged_in? %>

<h1 class="title is-1">Marin Two Full Schedule for <%= Date.today.year %></h1>

<div class="table-container">
  <table class="table is-responsive is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>
          <abbr>Game No</abbr>
        </th>
        <th>
          <abbr>Home Team</abbr>
        </th>
        <th>
          <abbr>vs.</abbr>
        </th>
        <th>
          <abbr>Away Team</abbr>
        </th>
        <th>
          <abbr>Date</abbr>
        </th>
        <th>
          <abbr>Location</abbr>
        </th>
        <th>
          <abbr>Directions</abbr>
        </th>
        <th>
          <abbr>Details</abbr>
        </th>
        <% if admin_logged_in? %>
          <th>
            <abbr>Selections</abbr>
          </th>
          <th>
            <abbr>Edit</abbr>
          </th>
          <th>
            <abbr>Delete</abbr>
          </th>
        <% end %>
      </tr>
    </thead>
    <% @mnt.each_with_index do |mnt, index| %>
      <tbody>
        <tr>
          <td>
            <%= index + 1 %>
          </td>
          <td>
            <%= mnt.home_team.name %>
          </td>
          <td>
            vs.
          </td>
          <td>
            <%= mnt.away_team.name %>
          </td>
          <td>
            <%= mnt.date.strftime('%A, %B %d') %>
          </td>
          <td>
            <%= mnt.home_team.home_field %>
          </td>
          <td>
            <%= link_to 'Directions', "https://www.google.com/maps?q=#{mnt.home_team.home_field}", target: 'blank' %>
          </td>
          <td>
            <%= link_to 'Game Details', schedule_path(mnt), class: 'button is-link is-small is-fullwidth' %>
          </td>
          <% if admin_logged_in? %>
            <td>
              <%= link_to 'Set Lineup', selection_schedule_path(mnt),
                            class: 'button is-info is-small is-fullwidth' %>
            </td>
            <td>
              <%= link_to 'Edit Game', edit_schedule_path(mnt), class: 'button is-small is-warning is-fullwidth' %>
            </td>
            <td>
              <%= button_to 'Delete Game', mnt, method: :delete,
                  data: { confirm: 'You sure brah? This game will be PERMANENTLY DELETED from the database.'},
                                                              class: 'button is-small is-danger is-fullwidth' %>
            </td>
          <% end %>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
