<%= form_with model: @schedule, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="columns is-centered">
    <div class="column is-5">

      <div class="field">
        <%= f.label :home_team, class: 'label' %>
        <span class="select">
          <%= f.collection_select :home_team_id, Team.all, :id, :name, prompt: true,
                  required: true, class: 'select', placeholder: 'Name of Home Team' %>
        </span>
      </div>
      <div class="field">
        <%= f.label :away_team, class: 'label' %>
        <span class="select">
          <%= f.collection_select :away_team_id, Team.all, :id, :name, prompt: true,
                  required: true, class: 'select', placeholder: 'Name of Away Team' %>
        </span>
      </div>

      <div class="field">
        <%= f.label :date, class: 'label' %>
        <%= f.date_field :date, required: true, class: 'input',
                    type: 'date', placeholder: 'Game Date' %>
      </div>

        <%= f.submit yield(:button_text), class: 'button is-medium is-link is-fullwidth' %>
    </div>
  </div>

<% end %>
