<%= hidden_field_tag 'schedule[user_ids][]', nil %>

<table class="table is-responsive is-bordered is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><abbr>#</abbr></th>
      <th><abbr>Name</abbr></th>
      <th><abbr>Paid Member?</abbr></th>
      <th><abbr>Games Played</abbr></th>
      <th><abbr>Last Played</abbr></th>
      <th><abbr>Role</abbr></th>
      <th><abbr>Select</abbr></th>
    </tr>
  </thead>
  <% @schedule.users.each_with_index do |user, index| %>
    <tbody>
      <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td>
          <%= label_tag dom_id(user), user.first_name %> <%= user.last_name %>
        </td>
        <td>
          <% if user.paid? %>
            Yes
          <% end %>
        </td>
        <td>
          <% if user.selections.count === 1 %>
            N/A
          <% else %>
            <%= user.selections.count - 1 %>
          <% end %>
        </td>
        <td>
          <% if user.selections.count === 1 %>
            N/A
          <% else %>
            <%= user.selections[-2].schedule.date.strftime('%b %d') %>
          <% end %>
        </td>
        <td>
          <%= user.role %>
        </td>
        <td>
          <%= check_box_tag 'schedule[user_ids][]', user.id, @schedule.user_ids.include?(user.id), id: dom_id(user) %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
