<p>Hello <%= @newsletter.first_name %>!</p>

<p>This weekend Marin Cricket Club has <%= @upcoming.count %> games on!</p>
<br>
<hr>

<% if @mno.blank? %>
  <h1>Marin One</h1>
  <p>Marin One are on a bye, they are probably mowing the lawn, walking the dog or finally writing that novel.</p>
<% else %>
  <% @mno.each do |mno| %>
  <h1>Marin One</h1>
    <% if mno.home_team.name === 'Marin One' %>
      <p>
        Playing against <%= mno.away_team.name %> on <%= mno.date.strftime('%A, %B %d') %> at Piper Park, Larkspur.
        <%= link_to 'Directions!', 'https://goo.gl/maps/UpjsNTPHbaY5EYAH7', target: 'blank' %>
      </p>
    <% else %>
      <p>
        Playing against <%= mno.home_team.name %> on <%= mno.date.strftime('%A, %B %d') %> at <%= mno.home_team.home_field %>.
      </p>
    <% end %>
    <p>
      First ball is at <%= mno.start_time.strftime('%H:%M %P') %>
      so get down and support our boys if you can!
    </p>
    <p>
      <%= link_to 'Full game details here!', schedule_url(mno) %>
    </p>
  <% end %>
<% end %>
<br>
<hr>

<% if @mnt.blank? %>
  <h1>Marin Two</h1>
  <p>Marin Two are on a bye, they are probably mowing the lawn, walking the dog or finally writing that novel.</p>
<% else %>
  <% @mnt.each do |mnt| %>
  <h1>Marin Two</h1>
    <% if mnt.home_team.name === 'Marin Two' %>
      <p>
        Playing against <%= mnt.away_team.name %> on <%= mnt.date.strftime('%A, %B %d') %> at Piper Park, Larkspur.
        <%= link_to 'Directions!', 'https://goo.gl/maps/UpjsNTPHbaY5EYAH7', target: 'blank' %>
      </p>
    <% else %>
      <p>
        Playing against <%= mnt.home_team.name %> on <%= mnt.date.strftime('%A, %B %d') %> at <%= mnt.home_team.home_field %>
        <%= link_to 'Directions!', "https://www.google.com/maps?q=#{mnt.home_team.home_field}", target: 'blank' %>
      </p>
    <% end %>
    <p>
      First Ball At: <%= mnt.start_time.strftime('%H:%M %P') %>
    </p>
    <p>
      <%= link_to 'Full game details here!', schedule_url(mnt) %>
    </p>
  <% end %>
<% end %>
<br>
<hr>

<% if @mns.blank? %>
  <h1>Marin Socials</h1>
  <p>The Marin Socials are on a bye, they are probably mowing the lawn, walking the dog or finally writing that novel.</p>
<% else %>
  <% @mns.each do |mns| %>
  <h1>Marin Socials</h1>
    <% if mns.home_team.name === 'Marin Socials' %>
      <p>
        Playing against <%= mns.away_team.name %> on <%= mns.date.strftime('%A, %B %d') %> at Piper Park, Larkspur.
        <%= link_to 'Directions!', 'https://goo.gl/maps/UpjsNTPHbaY5EYAH7', target: 'blank' %>
      </p>
    <% else %>
      <p>
        Playing against <%= mns.home_team.name %> on <%= mns.date.strftime('%A, %B %d') %> at <%= mns.home_team.home_field %>,
        <%= link_to 'Directions!', "https://www.google.com/maps?q=#{mns.home_team.home_field}", target: 'blank' %>
      </p>
    <% end %>
    <p>
      First Ball At: <%= mns.start_time.strftime('%H:%M %P') %>
    </p>
    <p>
      <%= link_to 'Full game details here!', schedule_url(mns) %>
    </p>
    <br>
    <hr>
  <% end %>
<% end %>
