<p>Hello <%= @newsletter.first_name %>!</p>

<p>This weekend Marin Cricket Club has <%= @upcoming.count %> games on!</p>
<br>
<hr>

<% if @mns.blank? %>
  <h1>Marin CC Socials</h1>
  The Marin CC Socials are on a bye, they are probably mowing the lawn, walking the dog or writing another thrilling edition of their IPL fan fiction.</p>
<% else %>
  <% @mns.each do |mns| %>
  <h1>Marin CC Socials</h1>
    <% if mns.home_team_id[3] %>
      <p>
        Playing against <%= mns.away_team.name %> on <%= mns.date.strftime('%A, %B %d') %> at Piper Park, Larkspur.
        <%= link_to 'Directions!', 'https://goo.gl/maps/UpjsNTPHbaY5EYAH7', target: 'blank' %>
      </p>
    <% else %>
      <p>
        Playing against <%= mns.home_team.name %> on <%= mns.date.strftime('%A, %B %d') %> at <%= mns.home_team.home_field %>,
        <%= link_to 'Directions!', "https://www.google.com/maps?q=#{mns.home_team.home_field}", target: 'blank' %>
      </p>
    <% end %>
    <p>
      First Ball At: <%= mns.start_time.strftime('%H:%M %P') %>
    </p>
    <p>
      <%= link_to 'Full game details here!', schedule_url(mns) %>
    </p>
    <br>
    <hr>
  <% end %>
<% end %>

<% if @mno.blank? %>
  <h1>Marin 1 NCCA League Team</h1>
  <p>
    The Marin 1 team are on a bye, they are busy taking their mothers to lunch, learning how to bake a proper sponge or writing more riveting IPL fan fiction.
  </p>
<% else %>
  <% @mno.each do |mno| %>
  <h1>Marin 1 NCCA League Team</h1>
    <% if mno.home_team_id[1] %>
      <p>
        Playing against <%= mno.away_team.name %> on <%= mno.date.strftime('%A, %B %d') %> at Piper Park, Larkspur.
        <%= link_to 'Directions!', 'https://goo.gl/maps/UpjsNTPHbaY5EYAH7', target: 'blank' %>
      </p>
    <% else %>
      <p>
        Playing against <%= mno.home_team.name %> on <%= mno.date.strftime('%A, %B %d') %> at <%= mno.home_team.home_field %>
        <%= link_to 'Directions!', "https://www.google.com/maps?q=#{mno.home_team.home_field}", target: 'blank' %>
      </p>
    <% end %>
    <p>
      First Ball At: <%= mno.start_time.strftime('%H:%M %P') %>
    </p>
    <p>
      <%= link_to 'Full game details here!', schedule_url(mno) %>
    </p>
    <br>
    <hr>
  <% end %>
<% end %>

<% if @mnb.blank? %>
  <h1>Marin Bears T20</h1>
  <p>The Marin Bears are on a bye, they are probably stealing picnic baskets or whatever it is that bears do.</p>
<% else %>
  <% @mnb.each do |mnb| %>
  <h1>Marin Bears T20</h1>
    <% if mnb.home_team_id[39] %>
      <p>
        Playing against <%= mnb.away_team.name %> on <%= mnb.date.strftime('%A, %B %d') %> at Piper Park, Larkspur.
        <%= link_to 'Directions!', 'https://goo.gl/maps/UpjsNTPHbaY5EYAH7', target: 'blank' %>
      </p>
    <% else %>
      <p>
        Playing against <%= mnb.home_team.name %> on <%= mnb.date.strftime('%A, %B %d') %> at <%= mnb.home_team.home_field %>,
        <%= link_to 'Directions!', "https://www.google.com/maps?q=#{mnb.home_team.home_field}", target: 'blank' %>
      </p>
    <% end %>
    <p>
      First Ball At: <%= mnb.start_time.strftime('%H:%M %P') %>
    <p>
      <%= link_to 'Full game details here!', schedule_url(mnb) %>
    </p>
    <br>
    <hr>
  <% end %>
<% end %>
