<p>Hello <%= @user.first_name %>!</p>

<p>This weekend Marin Cricket Club has <%= @upcoming.count %> games on!</p>
<br>
<hr>

<% if @mns.blank? %>
  <h1>Marin CC Socials</h1>
  The Marin CC Socials are on a bye, they are probably mowing the lawn, walking the dog or writing another thrilling edition of their IPL fan fiction.</p>
<% else %>
  <% @mns.each do |mns| %>
  <h1>Marin CC Socials</h1>
    <% if mns.home_team.name === 'Marin CC Socials' %>
      <p>
        Playing against <%= mns.away_team.name %> on <%= mns.date.strftime('%A, %B %d') %> at Piper Park, Larkspur.
        <%= link_to 'Directions!', 'https://goo.gl/maps/UpjsNTPHbaY5EYAH7', target: 'blank' %>
      </p>
    <% else %>
      <p>
        Playing against <%= mns.home_team.name %> on <%= mns.date.strftime('%A, %B %d') %> at <%= mns.home_team.home_field %>,
        <%= link_to 'Directions!', "https://www.google.com/maps?q=#{mns.home_team.home_field}", target: 'blank' %>
      </p>
    <% end %>
    <p>
      Players Arrive By: <%= (mns.start_time - 30.minutes).strftime('%H:%M %P') %>
    </p>
    <p>
      First Ball At: <%= mns.start_time.strftime('%H:%M %P') %>
    </p>
    <p>
      Match Fee: $20 per player
    </p>
    <p>
      <%= link_to 'Full game details here!', schedule_url(mns) %>
    </p>
    <p>
      <%= link_to 'Sign up to play here!', game_signup_schedule_url(mns) %>
    </p>
    <br>
    <hr>
  <% end %>
<% end %>

<% if @mnc.blank? %>
  <h1>Marin CC NCCA League Team</h1>
  <p>The Marin CC NCCA League Team are on a bye, they are busy taking their mothers to lunch and learning how to bake a proper sponge.</p>
<% else %>
  <% @mnc.each do |mnc| %>
  <h1>Marin CC NCCA League Team</h1>
    <% if mnc.home_team.name === 'Marin CC NCCA' %>
      <p>
        Playing against <%= mnc.away_team.name %> on <%= mnc.date.strftime('%A, %B %d') %> at Piper Park, Larkspur.
        <%= link_to 'Directions!', 'https://goo.gl/maps/UpjsNTPHbaY5EYAH7', target: 'blank' %>
      </p>
    <% else %>
      <p>
        Playing against <%= mnc.home_team.name %> on <%= mnc.date.strftime('%A, %B %d') %> at <%= mnc.home_team.home_field %>
        <%= link_to 'Directions!', "https://www.google.com/maps?q=#{mnc.home_team.home_field}", target: 'blank' %>
      </p>
    <% end %>
    <p>
      Players Arrive By: <%= (mnc.start_time - 30.minutes).strftime('%H:%M %P') %>
    </p>
    <p>
      First Ball At: <%= mnc.start_time.strftime('%H:%M %P') %>
    </p>
    <p>
      Match Fee: $20 per player
    </p>
    <p>
      <%= link_to 'Full game details here!', schedule_url(mnc) %>
    </p>
    <p>
      <%= link_to 'Sign up to play here!', game_signup_schedule_url(mnc) %>
    </p>
    <br>
    <hr>
  <% end %>
<% end %>

<% if @mnb.blank? %>
  <h1>Marin Bears T20</h1>
  <p>The Marin Bears are on a bye, they are probably stealing picnic baskets or whatever it is that bears do.</p>
<% else %>
  <% @mnb.each do |mnb| %>
  <h1>Marin Bears T20</h1>
    <% if mnb.home_team.name === 'Marin Bears T20' %>
      <p>
        Playing against <%= mnb.away_team.name %> on <%= mnb.date.strftime('%A, %B %d') %> at Piper Park, Larkspur.
        <%= link_to 'Directions!', 'https://goo.gl/maps/UpjsNTPHbaY5EYAH7', target: 'blank' %>
      </p>
    <% else %>
      <p>
        Playing against <%= mnb.home_team.name %> on <%= mnb.date.strftime('%A, %B %d') %> at <%= mnb.home_team.home_field %>,
        <%= link_to 'Directions!', "https://www.google.com/maps?q=#{mnb.home_team.home_field}", target: 'blank' %>
      </p>
    <% end %>
    <p>
      Players Arrive By: <%= (mnb.start_time - 30.minutes).strftime('%H:%M %P') %>
    </p>
    <p>
      First Ball At: <%= mnb.start_time.strftime('%H:%M %P') %>
    </p>
    <p>
      Match Fee: $20 per player
    </p>
    <p>
      <%= link_to 'Full game details here!', schedule_url(mnb) %>
    </p>
    <p>
      <%= link_to 'Sign up to play here!', game_signup_schedule_url(mnb) %>
    </p>
    <br>
    <hr>
  <% end %>
<% end %>
