<% unless current_page?(users_path) %>
  <div class="columns buttons are-medium is-justify-content-space-around">
    <div class="column is-4">
      <%= link_to 'Add Game Newsletter', new_newsletter_path, class: 'button is-link is-fullwidth' %>
    </div>
    <div class="column is-4">
      <%= link_to 'Add Member Account', signup_path, class: 'button is-success is-fullwidth' %>
    </div>
  </div>
<% end %>

<div class="columns is-multiline is-vcentered buttons are-medium">
  <div class="column is-4">
    <% if user.paid? %>
      <%= link_to 'Paid Fees', not_paid_user_path(user), class: 'button is-link is-fullwidth',
                    data: { confirm: "#{user.first_name} #{user.last_name} will be marked as not having paid fees." } %>
    <% else %>
       <%= link_to 'Not Paid Fees', paid_user_path(user), class: 'button is-dark is-fullwidth',
                     data: { confirm: "#{user.first_name} #{user.last_name} will be has been marked as having paid fees." } %>
    <% end %>
  </div>

  <div class="column is-4">
    <% unless user.activated? %>
       <%= link_to 'Inactive User', activate_account_user_path(user), class: 'button is-primary is-fullwidth',
                     data: { confirm: "#{user.first_name} #{user.last_name} will be activated, they will now receive game emails." } %>
    <% end %>
  </div>

  <div class="column is-4">
    <%= link_to 'Edit User', edit_user_path(user), class: 'button is-warning is-fullwidth' %>
  </div>

  <div class="column">
    <%= button_to 'Delete User', user, method: :delete, class: 'button is-danger is-fullwidth',
        data: { confirm: "You sure brah? #{user.first_name} #{user.last_name} will be permenantly deleted." } %>
  </div>

  <div class="column">
    <% if user.admin? %>
      <%= link_to 'User is Admin', remove_admin_user_path(user), class: 'button is-info is-fullwidth',
                    data: { confirm: "#{user.first_name} #{user.last_name} will lose admin privledges."} %>
    <% else %>
      <%= link_to 'Make User Admin', make_admin_user_path(user), class: 'button is-success is-fullwidth',
                    data: { confirm: "#{user.first_name} #{user.last_name} will be given admin privledges."} %>
    <% end %>
  </div>

  <% if current_page?(users_path) %>
    <div class="column">
      <%= link_to 'View Profile', user_path(user), class: 'button is-link is-fullwidth' %>
    </div>
  <% end %>
</div>
