<div class="columns is-centered">
    <div class="column is-5">
      <%= form_for @user, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="field">
          <%= f.label :first_name, class: 'label' %>
          <%= f.text_field :first_name, required: true,
              class: 'input', type: 'text', placeholder: 'Your Frist Name' %>
        </div>

        <div class="field">
          <%= f.label :surname, class: 'label' %>
          <%= f.text_field :last_name, required: true,
              class: 'input', type: 'text', placeholder: 'Your Surname' %>
        </div>

        <div class="field">
          <%= f.label :email, class: 'label' %>
          <%= f.email_field :email, required: true, class: 'input',
                type: 'email', placeholder: 'Your Email Address' %>
        </div>

        <div class="field">
          <%= f.label :password, class: 'label' %>
          <%= f.password_field :password, required: true,
              class: 'input', type: 'password', placeholder: 'Choose a Password' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: 'label' %>
          <%= f.password_field :password_confirmation, required: true,
              class: 'input', type: 'password', placeholder: 'Confirm Your Password' %>
        </div>

        <div class="field">
          <%= f.submit yield(:button_text), class: 'button is-medium is-link is-fullwidth' %>
        </div>

      <% end %>
    </div>
  </div>
