<p>
  Hello <%= @user.first_name %>!
</p>

<p>
  Marin Cricket Club is hosting <strong><%= @event.title %></strong> on <%= @event.date.strftime('%A, %B %d, %Y') %>!
</p>

<p>
  <strong>Where:</strong> <%= @event.location %>
</p>

<p>
  <strong>Time:</strong> <%= @event.start_time.strftime('%H:%M%P') %>
  and ends
  <% if @event.end_time.nil? %>
    about then
  <% else %>
    at <%= @event.end_time.strftime('%H:%M%P') %>
  <% end %>
</p>

<p>
  <strong>What:</strong> <%= @event.about %>
</p>

<p>
  <%= link_to 'Full event details here!', event_url(@event) %>
</p>
<p>
  <%= link_to "Tell us you're coming!", event_signup_event_url(@event) %>
</p>