<nav class="navbar">
  <div class="container is-vcentered">
    <div class="navbar-brand">
      <%= link_to image_tag('logo_nav.png', alt: 'Marin Cricket Club'), root_path, class: 'image is-96x96' %>

      <%= link_to 'Marin Cricket Club', root_path, class: 'navbar-item has-text-white is-size-3 has-text-weight-semibold' %>

      <span class="navbar-burger burger has-text-white" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>

    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end is-size-5 has-text-weight-medium">
        <%= link_to 'Players', users_path, class: 'navbar-item has-text-white' %>
        <%= link_to 'Teams', teams_path, class: 'navbar-item has-text-white' %>
        <%= link_to 'About', about_path, class: 'navbar-item has-text-white' %>
        <%= link_to 'Membership', membership_path, class: 'navbar-item has-text-white' %>
        <%= link_to 'Sponsors', sponsors_path, class: 'navbar-item has-text-white' %>
        <%= link_to 'Contact', contact_index_path, class: 'navbar-item has-text-white' unless logged_in? %>
        <%= link_to 'Log In', login_path, class: 'navbar-item has-text-white' unless logged_in? %>
        <%= render 'layouts/partials/if_logged_in' if logged_in? %>
      </div>
    </div>
  </div>
</nav>

<%= javascript_pack_tag 'navbar' %>
